@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;

}
    
.scrollbar::-webkit-scrollbar-track {
    background: #323232;
}


.scrollbar::-webkit-scrollbar-thumb {
    background-color: #606060;  
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: #606060;
}


/*  */

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;

}
    
body::-webkit-scrollbar-track {
    background: #323232;
}


body::-webkit-scrollbar-thumb {
    background-color: #606060;  
}

body::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

body::-webkit-scrollbar-corner {
    background-color: #606060;
}

.purple {
    color: #8a2be2;
    border-color: #8a2be2;
}

.yellow {
    color: #ffd700;
    border-color: #ffd700;
}

.green {
    color: #00ff00;
    border-color: #00ff00;
}

.blue {
    color: #0000ff;
    border-color: #0000ff;
}

